<div id="<%= dom_id quest %>">
  <p>
    <strong>Title:</strong>
    <%= quest.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quest.description %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= quest.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= quest.end_at %>
  </p>

</div>
