<% content_for :title, @quest.title %>
<%= render "shared/toast" %>

<article class="container mb-4">
  <div class="d-flex justify-content-between align-items-baseline mb-2">
    <h3 class="text-primary">
      <%= image_tag "icons/scroll_blue.png", size: "32x32", alt: "scroll icon" %>
      <u>
        Quest #<%= @quest.id %>
      </u>
    </h3>

    <%= render "menu", quest: @quest %>
  </div>

  <div class="mb-4">
    <% if @quest.has_ended? %>
      <p class="text-danger">Quest has endend
        <%= time_ago_in_words(@quest.end_at) %>
        ago</p>
    <% elsif !@quest.endless? %>
      <p class="text-warning">Quest end in
        <%= distance_of_time_in_words(Time.now, @quest.end_at) %></p>
    <% end %>
  </div>

  <h4 class="fs-5 mb-0 text-primary">
    <%= @quest.title %>
  </h4>

  <p class="mb-4 fs-6"><%= @quest.description %></p>

  <section>
    <%= render "tasks/task_list", tasks: @quest.tasks, player: @player %>
  </section>
</article>

<div class="d-flex justify-content-end">
  <% if @player.is_gm? && !@quest.has_started_by_some_players? %>
    <%= link_to "Add Tasks", new_gm_quest_task_path(@quest) %>
  <% end %>
</div>

<article class="container">
  <h5 class="mb-4">Quest rewards</h5>

  <section class="row">
    <%= render "games/rewards", rewards: @quest.rewards %>
  </section>
</article>

<div class="d-flex justify-content-end mt-4">
  <% if @player.has_started_quest?(@quest) %>
    <%= button_to "Complete Quest",
    complete_player_quest_path(@quest),
    method: :patch,
    class: "btn btn-primary",
    disabled: !@player.can_complete_quest?(@quest) %>
  <% else %>
    <%= button_to "Start Quest",
    start_player_quest_path(@quest),
    method: :post,
    class: "btn btn-primary",
    disabled: @quest.has_ended? %>
  <% end %>
</div>
