<article class="container">
  <div class="d-flex justify-content-between align-items-baseline mb-4">
    <h3 class="text-primary">
      <%= image_tag "icons/scroll_blue.png", size: "32x32", alt: "scroll icon" %>
      <u>
        Quest #<%= @quest.id %>
      </u>
    </h3>

    <%= render "menu", quest: @quest %>
  </div>

  <h4 class="fs-5 mb-0 text-primary-emphasis">
    <%= @quest.title %>
  </h4>

  <p class="mb-4 fs-6"><%= @quest.description %></p>

  <section>
    <%= render "tasks/task_list", tasks: @quest.tasks, player: @player %>
  </section>
</article>

<article class="container mt-4">
  <h5 class="mb-4">Quest rewards</h5>

  <section class="row">
    <%= render "quest_rewards", rewards: @quest.rewards %>
  </section>
</article>

<div class="d-flex justify-content-end mt-4">
  <%= button_to "Complete Quest",
  players_complete_quest_path(@quest),
  class: "btn btn-primary",
  disabled: !@player.can_complete_quest?(@quest),
  data: {
    turbo_method: :patch,
  } %>
</div>
