<article class="container">
  <h3 class="mb-4 text-primary">
    <%= image_tag "icons/scroll_blue.png", size: "32x32", alt: "scroll icon" %>
    <u>
      Quest #<%= @quest.id %>
    </u>
  </h3>

  <h4 class="fs-5 mb-0 text-primary-emphasis">
    <%= @quest.title %>
  </h4>

  <p class="mb-4 fs-6"><%= @quest.description %></p>

  <section>
    <%= render "tasks/task_list", tasks: @quest.tasks, player: @player %>
  </section>
</article>

<article class="container mt-4">
  <h5 class="mb-4">Quest rewards</h5>

  <section class="row">
    <% @quest.rewards.each do |reward| %>
      <div class="col-4">
        <div class="card">
          <div class="card-body align-self-center text-center">
            <% if reward.is_gold? %>
              <%= image_tag "icons/gold.png", size: "32x32", alt: "gold icon" %>
              <div class="card-title fw-semibold">Gold +<%= reward.rewardable.amount %></div>
            <% elsif reward.is_exp? %>
              <%= image_tag "icons/exp_up.png", size: "32x32", alt: "exp up icon" %>
              <div class="card-title fw-semibold">Exp +<%= reward.rewardable.amount %></div>
            <% elsif reward.is_gear? %>
              <%= image_tag "icons/sword_lv1.png", size: "32x32", alt: "gear icon" %>
              <div class="card-title fw-semibold"><%= reward.rewardable.title %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</article>
