<article class="container">
  <section class="mb-4">
    <div class="d-flex justify-content-between">
      <%= image_tag "icons/characters/character_01.png",
      class: "img-thumbnail pixelated",
      size: "48x48",
      alt: "character icon" %>

      <div class="dropdown align-self-start">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= @player.user.email_address %>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Sign out",
            session_path,
            class: "dropdown-item link link-danger",
            method: :delete,
            data: {
              turbo_method: :delete,
            } %>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-4 d-flex flex-column gap-2 w-75">
    <%= render "gold", player: @player %>
    <%= render "hp", player: @player %>
    <%= render "exp", player: @player %>
  </section>

  <section class="mb-4">
    <div class="mb-3 fs-5 fw-bold text-primary">My Stats</div>
    <div class="d-flex gap-3">
      <%= render "level", player: @player %>
      <%= render "atk", player: @player %>
      <%= render "def", player: @player %>
    </div>
  </section>

  <section>
    <div class="mb-3 fs-5 fw-bold text-primary">My Items</div>
    <%= render "item_slots", player_items: @player.player_items %>
  </section>
</article>
