<article class="container">
  <section class="mb-4">
    <div class="d-flex justify-content-between">
      <%= image_tag "icons/characters/character_01.png",
      class: "img-thumbnail pixelated",
      size: "48x48",
      alt: "character icon" %>

      <div class="dropdown align-self-start">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <%= @player.user.email_address %>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Sign out",
            session_path,
            class: "dropdown-item link link-danger",
            method: :delete,
            data: {
              turbo_method: :delete,
            } %>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <div class="mb-3 fs-5 fw-bold text-primary">My Stats</div>

    <div class="d-flex gap-2 align-items-center mb-2">
      <%= image_tag "icons/muscle.png",
      class: "pixelated",
      size: "24x24",
      alt: "muscle icon" %>
      <span>
        <b>Level:</b>
        <%= @player.level %>
      </span>
    </div>

    <div class="d-flex gap-2 align-items-center mb-2">
      <%= image_tag "icons/gold.png", class: "pixelated", size: "24x24", alt: "gold icon" %>
      <span>
        <b>Gold:</b>
        <%= @player.gold %>
      </span>
    </div>

    <div class="d-flex gap-2 align-items-center mb-2">
      <%= image_tag "icons/exp.png", class: "pixelated", size: "24x24", alt: "exp icon" %>
      <div class="w-100">
        <span>
          <b>Exp:</b>
          <%= "#{@player.exp}/100" %>
        </span>
        <div
          class="progress"
          role="progressbar"
          aria-label="exp bar"
          aria-valuenow="<%= @player.exp %>"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <%= content_tag :div, class: "progress-bar", style: "width: #{@player.exp}%;" do %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mb-3 fs-5 fw-bold text-primary">My Items</div>
    <%= render "item_slots", player_items: @player.player_items %>
  </section>
</article>
