<% content_for :title, "Raid Boss" %>
<%= render "shared/toast" %>

<article
  class="container d-flex align-items-center flex-column h-100"
  data-controller="monster"
  data-monster-attacked-state-class="monster_image--attacked"
>
  <h3 class="d-flex align-items-center text-danger mb-0">
    <%= image_tag "icons/boss.png", class: "pixelated", size: "64x64", alt: "boss icon" %>
    <% if @monster.present? %>
      <%= @monster.title %>
    <% else %>
      Wanna raid Boss?
    <% end %>
  </h3>

  <section class="mt-4 w-100 text-center">
    <% if @monster.present? %>
      <%= render "monsters/boss", monster: @monster %>
    <% else %>
      <% if @player.is_gm? && Monster.can_spawn? %>
        <%= button_to "Spawn Monster",
        gm_monsters_path,
        method: :post,
        class: "btn btn-lg btn-primary" %>
      <% end %>
    <% end %>
  </section>

  <% if @monster.present? %>
    <section class="row w-100">
      <%= render "monsters/rewards", rewards: @monster.rewards %>
    </section>

    <section class="mt-auto mb-4">
      <%= button_to attack_monster_path(@monster), 
      method: :post, 
      class: "atk-btn rounded-circle", 
      data: { monster_target: "atkButton", action: "click->monster#takeDamage" } do %>

        <div class="d-flex">
          <%= image_tag "icons/sword_atk.png",
          class: "pixelated m-auto",
          size: "64x64",
          alt: "sword attack icon" %>
        </div>
      <% end %>
    </section>
  <% end %>
</article>
