<% content_for :title, "Raid Boss" %>
<%= render "shared/toast" %>

<article
  class="container d-flex align-items-center flex-column h-100"
  data-controller="battle"
  data-battle-mons-attacked-class="monster_image--attacked"
  data-battle-hero-attack-class="hero_image--attack"
>
  <h3 class="d-flex align-items-center text-danger mb-0">
    <%= image_tag "icons/boss.png", class: "pixelated", size: "64x64", alt: "boss icon" %>
    <% if @monster.present? %>
      <%= @monster.title %>
    <% else %>
      Wanna raid Boss?
    <% end %>
  </h3>

  <section class="mt-5 w-100 text-center">
    <% if @monster.present? %>
      <%= render "monsters/boss", monster: @monster %>

    <% else %>
      <% if @player.is_gm? && Monster.can_spawn? %>
        <%= button_to "Spawn Monster",
        gm_monsters_path,
        method: :post,
        class: "btn btn-lg btn-primary" %>
      <% else %>
        <p>
          No monster to fight yet.
        </p>
      <% end %>
    <% end %>
  </section>

  <% if @monster.present? %>
    <section class="mt-5 w-100">
      <div class="d-flex justify-content-between">
        <div class="flex-grow-1">
          <%= render "shared/game/hero", player: @player %>
        </div>

        <%= button_to attack_monster_path(@monster), 
          method: :post, 
          class: "atk-btn rounded-circle", 
          form_class: "align-self-center",
          data: { battle_target: "atkButton", action: "click->battle#attack" } do %>
          <div class="d-flex">
            <%= image_tag "icons/sword_atk.png",
            class: "pixelated m-auto",
            size: "64x64",
            alt: "sword attack icon" %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</article>
