<% content_for :title, "Task #{@task.id}" %>

<%= turbo_frame_tag "task_detail" do %>
  <article class="container">
    <h4 class="d-flex align-items-center gap-2">
      <%= image_tag "icons/task_scroll.png", size: "24x24", alt: "task scroll icon" %>
      <%= @task.title %>
    </h4>

    <section>
      <p><%= @task.description %></p>

      <%= button_to "Complete Task",
      complete_quest_task_path(@task.quest, @task),
      method: :patch,
      class: "btn btn-primary",
      disabled:
        @player.has_completed_task?(@task) ||
          !@player.has_started_quest?(@task.quest),
      data: {
        turbo_frame: "_top",
      } %>

      <% if @player.has_completed_task? @task %>
        <p class="text-success">Completed
          <%= time_ago_in_words(@player.completed_task_at @task) %>
          ago
        </p>
      <% end %>
    </section>
  </article>
<% end %>
