<% content_for :title, "Task #{@task.id}" %>
<%= render "shared/toast" %>

<%= turbo_frame_tag "task_detail" do %>
  <article class="container">
    <h6 class="d-flex align-items-center gap-2 text-light">
      <%= image_tag "icons/task_scroll.png",
      class: "align-self-baseline",
      size: "24x24",
      alt: "task scroll icon" %>
      <%= @task.title %>
    </h6>

    <section>
      <p class="text-dark"><%= @task.description %></p>

      <% if @player.has_started_quest?(@task.quest) %>
        <%= button_to "Complete Task",
        complete_quest_task_path(@task.quest, @task),
        method: :patch,
        class: "btn btn-primary",
        disabled: @player.has_completed_task?(@task),
        data: {
          turbo_frame: "_top",
        } %>
      <% end %>

      <% if @player.has_completed_task? @task %>
        <p class="text-success">Completed
          <%= time_ago_in_words(@player.completed_task_at @task) %>
          ago
        </p>
      <% end %>
    </section>
  </article>
<% end %>
