<% content_for :title, "Task #{@task.id}" %>

<%= turbo_frame_tag "task_detail" do %>
  <article class="container">
    <h3 class="mb-4 d-flex align-items-center gap-2">
      <%= image_tag "icons/task_scroll.png", size: "32x32", alt: "task scroll icon" %>
      <%= @task.title %>
    </h3>

    <section class="mt-4">
      <p><%= @task.description %></p>

      <% if @player.has_completed? @task %>
        This task has been completed
        <%= time_ago_in_words @player.has_completed_task_at(@task) %>
      <% else %>
        <%= button_tag "Complete quest", class: "btn btn-primary" %>
      <% end %>
    </section>
  </article>
<% end %>
