<% content_for :title, "Task #{@task.id}" %>
<%= render "shared/toast" %>

<%= turbo_frame_tag "task_detail" do %>
  <article class="container">
    <h4 class="d-flex align-items-center gap-2">
      <%= image_tag "icons/task_scroll.png", size: "24x24", alt: "task scroll icon" %>
      <%= @task.title %>
    </h4>

    <section>
      <p><%= @task.description %></p>

      <% if @player.has_started_quest?(@task.quest) %>
        <%= button_to "Complete Task",
        complete_player_task_path(@task),
        method: :patch,
        class: "btn btn-primary",
        disabled: @player.has_completed_task?(@task),
        data: {
          turbo_frame: "_top",
        } %>
      <% end %>

      <% if @player.has_completed_task? @task %>
        <p class="text-success">Completed
          <%= time_ago_in_words(@player.completed_task_at @task) %>
          ago
        </p>
      <% end %>
    </section>
  </article>
<% end %>
