<% rewards.each do |reward| %>
  <div class="col-4">
    <div class="card">
      <div class="card-body align-self-center text-center">
        <% if reward.is_gold? %>
          <%= image_tag "icons/gold.png", size: "32x32", alt: "gold icon" %>
          <div class="card-title fw-semibold">Gold +<%= reward.rewardable.amount %></div>
        <% elsif reward.is_exp? %>
          <%= image_tag "icons/exp_up.png", size: "32x32", alt: "exp up icon" %>
          <div class="card-title fw-semibold">Exp +<%= reward.rewardable.amount %></div>
        <% elsif reward.is_gear? %>
          <%= image_tag "gears/#{reward.rewardable.asset_key}.png",
          size: "32x32",
          alt: "gear icon" %>
          <div class="card-title fw-semibold"><%= reward.rewardable.title %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
