<%= form_with model: [:gm, @quest] do |form| %>
  <% if quest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quest.errors.count, "error") %>
        prohibited this quest from being saved:</h2>

      <ul>
        <% quest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save quest", class: "btn btn-primary" %>
  </div>
<% end %>
